<h1>Post route</h1>

{{#publishing-page currentPost=currentPost as |actions properties|}}

  {{nav-bar
    model=currentPost
    openPublishModal=actions.openPublishModal
  }}

  {{quill-editor
    model=currentPost
    onSave=actions.updatePost
  }}

  {{publish-modal
    isOpen=properties.showPublishModal
    publishPost=actions.publishPost
  }}
{{/publishing-page}}

