<h1>Post route</h1>

{{#publishing-page currentPost=currentPost as |actions|}}

  {{nav-bar
    model=currentPost
    onPublish=actions.publishPost
  }}

  {{quill-editor
    model=currentPost
    onSave=actions.updatePost
  }}
{{/publishing-page}}

